@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", "Inter", system-ui, sans-serif;
  --font-body: "Outfit", "Inter", system-ui, sans-serif;


  --color-violet-primary: #3218f2;
  --color-violet-secondary: #8807ea;

  @keyframes float {
    0%, 100% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(2deg); }
  }
  @keyframes pulse-slow {
    0%, 100% { opacity: 0.8; transform: scale(1); }
    50% { opacity: 0.4; transform: scale(1.1); }
  }
  

  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-slow: pulse-slow 8s ease-in-out infinite;
}

.btn-gradient {
  @apply bg-gradient-to-r from-[#3218f2] to-[#8807ea]
    hover:from-[#4a2fff] hover:to-[#b20bff]
    text-white text-sm font-semibold px-5 py-5 rounded-3xl
    transition-all duration-300 ease-in-out
    hover:scale-[1.01] active:scale-[0.97]
    ;
}

@utility tag-popular {
  background: linear-gradient(135deg, #f59e0b, #ea580c);
  color: white;
  @apply shadow-lg shadow-orange-100/50;
}

@utility tag-new {
  background: linear-gradient(135deg, #10b981, #0891b2);
  color: white;
  @apply shadow-lg shadow-emerald-100/50;
}

@utility tag-best-seller {
  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  color: white;
  @apply shadow-lg shadow-violet-100/50;
}

/* গ্লাস কার্ড ইফেক্ট */
.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}